{{header}}
      <div id="content" class="col-sm-12">
         <div class="content-top">
                  {{content_top}}
                  {{content_bottom}}
         </div>

<!--             <div class="box featured">
   <div class="container">
      <div class="row">
         <div class="collection-right-banner">
            <img class="img-responsive" src="image/catalog/bannerthird.jpg" alt="bannerfirst">  
            <div class="image-title">
               <h3>Cantilever Chair</h3>
            </div>
            <div class="image-button">
               <a href="#" class="banner-btn">Discover More</a>
            </div>
         </div>
      </div>
   </div>
</div>
<span class="featured_default_width" style="display:none; visibility:hidden"></span>
           
<span class="module_default_width" style="display:none; visibility:hidden"></span> -->
            <div class="cmsbanner-block">
               <div class="container">
                  <div class="row">
                     <div class="cms-inner-block1">
                        <div class="cms1_img">
                           <a href="#" title="banner1"><img class="cms_image1" src="image/catalog/Cms-banner-3.jpg" alt=""></a>
                           <div class="description">
                              <div class="title">Wooden Watches</div>
                              <div class="subtitle">35% Flate</div>
                              <div class="action1">
                                 <div class="banner_text">Free delivery worldwide</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="cms-inner-block2">
                        <div class="cms2_img">
                           <a href="#" title="banner2"><img class="cms2_image2" src="image/catalog/Cms-banner-4.jpg" alt=""></a>
                           <div class="description">
                              <div class="title">Wood Decoration</div>
                              <div class="subtitle">40% Flate</div>
                              <div class="action1">
                                 <div class="banner_text">For New Customers Only</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{{footer}}