<!DOCTYPE html>
<!--[if lt IE 7 ]> 
<html lang="en" id="top" class="no-js ie6">
   <![endif]-->
   <!--[if IE 7 ]>    
   <html lang="en" id="top" class="no-js ie7">
      <![endif]-->
      <!--[if IE 8 ]>    
      <html lang="en" id="top" class="no-js ie8">
         <![endif]-->
         <!--[if IE 9 ]>    
         <html lang="en" id="top" class="no-js ie9">
            <![endif]-->
            <!--[if (gt IE 9)|!(IE)]><!-->
            <html lang="en" id="top" class="no-js">
               <!--<![endif]-->
               <!-- Mirrored from steeloncall.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 May 2021 02:40:47 GMT -->
               <!-- Added by HTTrack -->
               <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
               <!-- /Added by HTTrack -->
               <head>
                  <!-- Google Tag Manager -->
 
                  <!-- End Google Tag Manager -->
                  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                  <title>Muathep.com | Địa chỉ cung cấp Thép chất lượng - uy tín</title>
                  <meta property="og:title" content="Muathep.vn | Địa chỉ cung cấp Thép chất lượng - uy tín" />
                  <meta property="og:image" content="catalog/view/theme/muathep.com/images/logo-main.png" />
                  <meta property="og:image:secure_url" content="catalog/view/theme/muathep.com/images/logo-main.png"/>
                  <meta name="keywords" content="Muathep.com" />
                  <meta name="description" content="Muathep.com" />
                  <link rel="canonical" href="index.html" />
                  <meta property="og:site_name" content="Trang thương mại về Sắt Thép" />
                  <meta property="og:type" content="e-commerce" />
                  <meta property="og:url" content="https://muathep.ionsite.vn/" />
                  <meta property="og:description" content="Nền tảng trực tuyến mua thép đầu tiên tại việt Nam" />
                  <meta property="og:image:alt" content="Nền tảng trực tuyến mua thép đầu tiên tại việt Nam" />
                  <meta property="og:updated_time" content="2021-05-19:27:48+05:30" />
                  <meta name="copyright" content="NhanLuat" />
                  <meta name="msnbot" content="INDEX, FOLLOW" />
                  <meta name="googlebot" content="INDEX, FOLLOW" />
                  <meta name="allow-search" content="yes" />
                  <meta name="revisit-after" content="daily" />
                  <meta name="site" content="Buy steel online at steeloncall.com" />
                  <meta name="robots" content="INDEX,FOLLOW" />
                  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >
                  <!--[if lt IE 7]>
                  <script type="text/javascript">
                     //<![CDATA[
                         var BLANK_URL = 'https://steeloncall.com/js/blank.html';
                         var BLANK_IMG = 'https://steeloncall.com/js/spacer.gif';
                     //]]>
                  </script>
                  <![endif]-->

                  <!-- Facebook Pixel Code -->

                  <!-- End Facebook Pixel Code -->
                  <!--Bingo Serach start-->
                  <meta name="msvalidate.01" content="9242569C9DE3BD3EE686333E8853CA5C" />
                  <!--Bingo Serach end-->
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/main_styles.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/site.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/website.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/extended_styles.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/mobile.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/style.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/marketplace_mobile.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="https://steeloncall.com/skin/frontend/base/default/vss_loginizer/css/custom_popup.css" media="all" />
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/prototype/prototype.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/jquery/jquery-1.10.2.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/jquery/noconflict.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/ccard.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/prototype/validation.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scriptaculous/builder.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scriptaculous/effects.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scriptaculous/dragdrop.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scriptaculous/controls.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scriptaculous/slider.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/varien/js.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/varien/form.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/mage/translate.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/mage/cookies.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/autocomplete/autocomplete.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/magestore/bannerslider/lightbox.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/marketplace/browser_select.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/marketplace/steeloncall_script.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/marketplace/jquery.simplefileinput.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/tiny_mce/tiny_mce.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/modernizr.custom.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/selectivizr.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/matchMedia.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/matchMedia.addListener.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/enquire.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/app.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.cycle2.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.cycle2.swipe.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/slideshow.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/imagesloaded.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/minicart.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scripts.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.bxslider.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.bxslider.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.flexslider.js"></script>
                  <script type="text/javascript" src="https://steeloncall.com/skin/frontend/base/default/vss_loginizer/js/jquery-no-conflict.js"></script>
                  <link rel="preconnect" href="https://fonts.gstatic.com">
                  <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
                  <!--[if  (lte IE 8) & (!IEMobile)]>
                  <link rel="stylesheet" type="text/css" href="https://steeloncall.com/skin/frontend/base/default/css/styles-ie8.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/madisonisland-ie8.css" media="all" />
                  <![endif]-->
                  <!--[if (gte IE 9) | (IEMobile)]><!-->
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/styles.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/madisonisland.css" media="all" />
                  <!--<![endif]-->
                  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
                  <script type="text/javascript">
                     //<![CDATA[
                     optionalZipCountries = ["HK","IN","IE","MO","PA"];
                     //]]>
                  </script>
                  <script type="text/javascript">//<![CDATA[
                     var Translator = new Translate([]);
                     //]]>
                  </script>
               </head>
               <body class=" cms-index-index cms-home">
                  <!-- Google Tag Manager (noscript) -->
                  
                  <!-- End Google Tag Manager (noscript) -->
                  <div class="wrapper">
                     <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
                     <link href="https://fonts.googleapis.com/css2?family=Arimo&amp;display=swap" rel="stylesheet">
                     <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
                     <link rel="stylesheet" href="catalog/view/theme/muathep.com/css/slimmenu.min.css">
                     <link rel="stylesheet" href="catalog/view/theme/muathep.com/css/flexslider.css">
                     <div id="navbar">
                        <div class="header_top">
                           <div class="container">
                              <div class="header_top_content">
                                 <marquee direction="left">
                                    <p>
                                       <ul class="pricesteeltoday">
                                          <li>Giá phôi thép Đường Sơn giao ngay sáng 19/5: -25 USD/tấn</li>
                                          <li>Thép cuộn Việt Ý 19/5: +300đ/kg</li>
                                          <li>Phế liệu nội địa Nhật Bản ngày 19/5: + 9-14 USD/tấn</li>
                                       </ul>
                                    </p>
                                 </marquee>
                              </div>
                           </div>
                        </div>
                        <div class="mobile_phone">
                           <p>Hỗ trợ 24/7 : <span>{{telephone}}</span></p>
                        </div>
                        <div class="mobile_signin_register">
                           <ul>
                              <li class="signin"><a href="#" id="signin_form1" ><span class="mlc">Đăng nhập</span></a></li>
                              <li class="get_quote"><a href="request-quote.html"> Báo giá</a></li>
                           </ul>
                        </div>
                        <div class="mobile_quote_wrap">
                           <div class="mobile_banner_text">Trang thương mại điện tử đầu tiên tại Việt Nam</div>
                           <div class="mb_search">
                              <div class="serarch-form search">
                                 <div class="searchBar">
                                    <form id="search_mini_form" action="#" method="get">
                                       <div class="form-search form-search-autocomplete">
                                          <input id="search" placeholder="Search Products" type="text" name="q" value="" class="input-text" maxlength="128" />
                                          <!--<input type="button" class="button" id="basic-search" title="">-->
                                          <button type="submit" id="basic-search" title="Search" class="button search-button"><span><span>Search</span></span></button>
                                          <script type="text/javascript">
                                             //<![CDATA[
                                                var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search');
                                                //searchForm.initAutocomplete('', 'search_autocomplete');
                                                $('basic-search').observe('click',function(event){
                                                   var searchTerm = $('search').value;
                                                   searchTerm = searchTerm.strip();
                                                   if(searchTerm == null || searchTerm == ''){
                                                      alert("Please enter search term");
                                                      Event.stop(event);
                                                      return false;
                                                   }
                                                });
                                                $('search').observe('focus',function(){
                                                   if(navigator.appName == "Microsoft Internet Explorer"){
                                                      var appVer = navigator.appVersion;  
                                                      if(appVer.indexOf("MSIE 7.0") != -1){
                                                         $('search').setStyle({"background-color":"#EDF7FD"});
                                                      }
                                                   }
                                                });
                                                $('search').observe('blur',function(){
                                                   if(navigator.appName == "Microsoft Internet Explorer"){
                                                      var appVer = navigator.appVersion;     
                                                      if(appVer.indexOf("MSIE 7.0") != -1){
                                                         $('search').setStyle({"background-color":"#FFFFFF"});
                                                      }
                                                   }
                                                });
                                                if(navigator.appName == "Microsoft Internet Explorer"){
                                                   $('search').observe('keypress',function(){
                                                      var searchTerm = $('search').value;
                                                      searchTerm = searchTerm.strip();
                                                      if(window.event && window.event.keyCode == '13'){
                                                         if(document.createEventObject){
                                                            // dispatch for IE
                                                            var evt = document.createEventObject();
                                                            return $('basic-search').fireEvent('onclick', evt);
                                                         }
                                                      }
                                                   });
                                                }
                                             //]]>
                                          </script>
                                       </div>
                                       <script type="text/javascript">
                                          //<![CDATA[
                                             var ajaxUrl='autocomplete/search/searchAutocomplete/index.html';
                                             var queryDelay = 0.5;
                                             var progressImage ='catalog/view/theme/muathep.com/images/ajax-loader.gif';
                                             var minCharacters = '2';
                                          
                                             document.observe('dom:loaded',function(){
                                                //require(["autocomplete"], function(){
                                                   $$('.form-search')[0].insert({
                                                      after:'<div id="search-autocomplete"><div id="searchr-result-containter"><div id="autocomplete-content"><div id="search-result"></div></div></div></div>'
                                                   });
                                                   $('searchr-result-containter').hide();
                                                   var acLayout = new Autocomplete();
                                                   acLayout.initAutocomplete(ajaxUrl, 'search-result');
                                                //});
                                             });
                                          //]]>
                                       </script>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="header_section ">
                           <header id="header">
                              <div class="container">
                                 <div class="logo"><a href="index.html"><img src="{{logo}}" alt="Steeloncall"></a></div>
                                 <div class="hright">
                                    <div class="header_net">
                                       <div class="web-top-nav">
                                          <ul class="signin-register ">
                                             <li class="signin"><a href="javascript:void(0);" id="signin_form" ><span class="mlc">Tài Khoản</span></a></li>
                                             <li class="support"><a href="javascript:void(0);" id="support_btn_desktop">Hỗ Trợ </a></li>
                                             
                                          </ul>
                                          <!-- Sign in model stars here -->
                                          <div id="signin_modal" class="modal">
                                             <!-- Modal content -->
                                             <div class="modal-content">
                                                <span class="close_modal"></span>
                                                <div class="model_form">
                                                   <h3>Đăng nhập</h3>
                                                   <ul class="signin_form">
                                                      <li>
                                                         <input type="email" placeholder="Your Email " />
                                                      </li>
                                                      <li>
                                                         <input type="password" placeholder="Password" />
                                                      </li>
                                                      <li><input type="checkbox" /><label for="">Remember Me</label></li>
                                                      <li><input type="submit" value="Login Now" /></li>
                                                   </ul>
                                                   <ul class="modal_register">
                                                      <li><a href="#" id="btn2">Đăng ký</a></li>
                                                      <li><a href="#" id="btn3">Quên mật khẩu ?</a></li>
                                                   </ul>
                                                </div>
                                                <div class="modal_footer">
                                                   <div class="modal_contact">
                                                      <i class="sprite sprite-tele"></i>
                                                      <div class="model_content_right">
                                                         <span>0912947499</span>
                                                         <h6>Sun-Sat 10am-6pm</h6>
                                                      </div>
                                                   </div>
                                                   <div class="modal_support">
                                                      <i class="sprite sprite-support_icon"></i>
                                                      <div class="model_content_right">
                                                         <a href = "mailto: support&#64;steeloncall&#46;com">support&#64;steeloncall&#46;com</a>
                                                         <h6>online support</h6>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- Sign in model ends here -->
                                          <!-- register now model starts here -->
                                          <div id="signin_modal2" class="modal">
                                             <!-- Modal content -->
                                             <div class="modal-content">
                                                <span class="close_modal2"></span>
                                                <div class="model_form">
                                                   <h3>Register With SteelonCall</h3>
                                                   <ul class="signin_form">
                                                      <li>
                                                         <input type="email" placeholder="Your Email " />
                                                      </li>
                                                      <li>
                                                         <input type="password" placeholder="Password" />
                                                      </li>
                                                      <li>
                                                         <input type="password" placeholder="Confirm Password" />
                                                      </li>
                                                      <li>
                                                         <select>
                                                            <option value="">Individual</option>
                                                            <option value="">Company</option>
                                                            <option value="">supplier</option>
                                                         </select>
                                                      </li>
                                                      <li><input type="submit" value="REGISTER" /></li>
                                                   </ul>
                                                </div>
                                                <div class="modal_footer">
                                                   <div class="modal_contact">
                                                      <i class="sprite sprite-tele"></i>
                                                      <div class="model_content_right">
                                                         <span>0912946499</span>
                                                         <h6>Sun-Sat 10am-6pm</h6>
                                                      </div>
                                                   </div>
                                                   <div class="modal_support">
                                                      <i class="sprite sprite-support_icon"></i>
                                                      <div class="model_content_right">
                                                         <a href = "mailto: support&#64;steeloncall&#46;com">support&#64;steeloncall&#46;com</a>
                                                         <h6>online support</h6>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- register now model ends here -->
                                          <!-- forget password starts here -->
                                          <div id="forget_password" class="modal">
                                             <!-- Modal content -->
                                             <div class="modal-content">
                                                <span class="close_modal3"></span>
                                                <div class="model_form">
                                                   <h3>Bạn quên mật khẩu ?</h3>
                                                   <h4>Khôi phục mật khẩu tại đây</h4>
                                                   <p>Vui lòng nhập email chúng tôi sẽ gởi mật khẩu về email của bạn</p>
                                                   <ul class="signin_form">
                                                      <li>
                                                         <input type="email" placeholder="Enter an Email" />
                                                      </li>
                                                      <li><input type="submit" value="SUBMIT" /></li>
                                                   </ul>
                                                </div>
                                                <div class="modal_footer">
                                                   <div class="modal_contact">
                                                      <i class="sprite sprite-tele"></i>
                                                      <div class="model_content_right">
                                                         <span>0912947499</span>
                                                         <h6>Sun-Sat 10am-6pm</h6>
                                                      </div>
                                                   </div>
                                                   <div class="modal_support">
                                                      <i class="sprite sprite-support_icon"></i>
                                                      <div class="model_content_right">
                                                         <a href = "mailto: support&#64;steeloncall&#46;com">info@muathep.com</a>
                                                         <h6>online support</h6>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- forget password model ends here -->
                                       </div>
                                       <div class="toll-free"><span>Hotline:</span><strong>0912947499</strong></div>
                                       <div class="header_cart">
                                          <a href="checkout/cart/index.html" data-target-element="#header-cart" class="skip-link skip-cart  no-count">
                                             <div class="icon"></div>
                                             <div class="header-minicart"><em class="count-text">Giỏ hàng&nbsp;</em><span class="count"> 0 Item(s) </span></div>
                                          </a>
                                          <div id="header-cart" class="block block-cart skip-content">
                                             <div class="minicart-wrapper">
                                                <p class="block-subtitle">
                                                   Recently added item(s)        <a class="close skip-link-close" href="#" title="Close">&times;</a>
                                                </p>
                                                <div id="minicart-error-message" class="minicart-message"></div>
                                                <div id="minicart-success-message" class="minicart-message"></div>
                                                <p class="empty">Bạn không có sản phẩm nào.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="search-button" >
                                          <a href="#" id="search_btn" class="search_btn"></a>
                                          <div class="search_form desktop_search">
                                             <div class="serarch-form search">
                                                <div class="searchBar">
                                                   <form id="search_mini_form" action="" method="get">
                                                      <div class="form-search form-search-autocomplete">
                                                         <input id="search" placeholder="Search Products" type="text" name="q" value="" class="input-text" maxlength="128" />
                                                         <!--<input type="button" class="button" id="basic-search" title="">-->
                                                         <button type="submit" id="basic-search" title="Search" class="button search-button"><span><span>Search</span></span></button>
                                                         <script type="text/javascript">
                                                            //<![CDATA[
                                                               var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search');
                                                               //searchForm.initAutocomplete('', 'search_autocomplete');
                                                               $('basic-search').observe('click',function(event){
                                                                  var searchTerm = $('search').value;
                                                                  searchTerm = searchTerm.strip();
                                                                  if(searchTerm == null || searchTerm == ''){
                                                                     alert("Please enter search term");
                                                                     Event.stop(event);
                                                                     return false;
                                                                  }
                                                               });
                                                               $('search').observe('focus',function(){
                                                                  if(navigator.appName == "Microsoft Internet Explorer"){
                                                                     var appVer = navigator.appVersion;  
                                                                     if(appVer.indexOf("MSIE 7.0") != -1){
                                                                        $('search').setStyle({"background-color":"#EDF7FD"});
                                                                     }
                                                                  }
                                                               });
                                                               $('search').observe('blur',function(){
                                                                  if(navigator.appName == "Microsoft Internet Explorer"){
                                                                     var appVer = navigator.appVersion;     
                                                                     if(appVer.indexOf("MSIE 7.0") != -1){
                                                                        $('search').setStyle({"background-color":"#FFFFFF"});
                                                                     }
                                                                  }
                                                               });
                                                               if(navigator.appName == "Microsoft Internet Explorer"){
                                                                  $('search').observe('keypress',function(){
                                                                     var searchTerm = $('search').value;
                                                                     searchTerm = searchTerm.strip();
                                                                     if(window.event && window.event.keyCode == '13'){
                                                                        if(document.createEventObject){
                                                                           // dispatch for IE
                                                                           var evt = document.createEventObject();
                                                                           return $('basic-search').fireEvent('onclick', evt);
                                                                        }
                                                                     }
                                                                  });
                                                               }
                                                            //]]>
                                                         </script>
                                                      </div>
                                                      <script type="text/javascript">
                                                         //<![CDATA[
                                                            var ajaxUrl='autocomplete/search/searchAutocomplete/index.html';
                                                            var queryDelay = 0.5;
                                                            var progressImage ='catalog/view/theme/muathep.com/images/ajax-loader.gif';
                                                            var minCharacters = '2';
                                                         
                                                            document.observe('dom:loaded',function(){
                                                               //require(["autocomplete"], function(){
                                                                  $$('.form-search')[0].insert({
                                                                     after:'<div id="search-autocomplete"><div id="searchr-result-containter"><div id="autocomplete-content"><div id="search-result"></div></div></div></div>'
                                                                  });
                                                                  $('searchr-result-containter').hide();
                                                                  var acLayout = new Autocomplete();
                                                                  acLayout.initAutocomplete(ajaxUrl, 'search-result');
                                                               //});
                                                            })
                                                         //]]>
                                                      </script>
                                                   </form>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!--  <div class="m-head">
                                       <p class="toll-free"><span>Toll Free Number:</span> <strong>1800-833-2929 <span>(10AM - 6PM)</span></strong>   </p>
                                        <div class="cart">
                                             <ul>
                                                
                                                <li></li>
                                                   <li> </li>
                                                   <li><span class="location"><marquee direction="left" scrollamount="1"></marquee></span></li>
                                                </ul>
                                                <div class="serarch-form search"></div>
                                          </div>
                                        
                                        </div> -->
                                    <!--<div class="location-img">
                                       <div class="flexslider">
                                         <ul class="slides ">
                                               <li>
                                            <span><img src=""></span>
                                            <strong></strong>
                                         </li>
                                                
                                         </ul>
                                       </div>
                                       </div>-->
                                 </div>
                              </div>
                              <div class="web-menu">
                                 <span class="menu-trigger">Menu</span>
                                 <nav class="web-nav">
                                    <div class="container">
                                       <ul class="nav desktop">
                                          <li>
                                             <a href="product.html">Thép Xây Dựng</a>
                                             <ul class="sub_menu">
                                                <li><a href="#">Thép Cuộn</a></li>
                                                <li><a href="#">Thép Thanh Vằn</a></li>
                                                <li><a href="#">Thép Thanh Tròn Trơn</a></li>
                                             </ul>
                                          </li>
                                          <li>
                                             <a href="product.html">Thép ống, hộp</a>
                                          </li>
                                          <li>
                                             <a href="product.html">Xi măng</a>
                                          </li>
                                          <li>
                                             <a href="product.html">Thép Hình</a>
                                            <!--  <ul class="sub_menu">
                                                <ul class="subsub_menu">
                                                   <li>
                                                   <li><a href="light-ms-rounds.html">MS Rounds</a></li>
                                                   <li><a href="ms-angles.html">MS Angles</a></li>
                                                   <li><a href="ms-squares.html">MS Squares</a></li>
                                                   <li><a href="ms-channels.html">MS Channels</a></li>
                                                   <li><a href="ms-sheets.html">MS Sheets</a></li>
                                                   <li><a href="ms-plates.html">MS Plates</a></li>
                                                   <li><a href="ms-flats.html">MS Flats</a></li>
                                                   <li><a href="ms-pipes.html">MS Pipes</a></li>
                                                   <li><a href="ms-unequal-angles.html">MS Unequal Angles</a></li>
                                                   <li><a href="ismb.html">ISMB</a></li>
                                                   </li>
                                                </ul>
                                             </ul> -->
                                          </li>
                                          <li><a href="#">Nhà sản xuất</a></li>
                                          <li><a href="#">Tin tức ngành thép </a></li>
                                          
                                          <!-- desktop -->
                                          <li><a href="#">Kho cung cấp </a></li>
                                          <li class="get_quote"><a href="request-quote.html"> Tạo Báo Giá</a></li>
                                       </ul>
                                       
                                       <script>
                                          // get the button which toggles the form
                                           
                                           var search_btn = document.getElementById('search_btn');
                                           
                                          // get the search form
                                          
                                          var search_box = document.getElementsByClassName('desktop_search')[0];
                                          // add class 
                                          
                                          search_btn.onclick = function(e){
                                              
                                              search_box.classList.toggle("mystyle");
                                              
                                            }
                                          
                                       </script>
                                    </div>
                                 </nav>
                              </div>
                              <!--<div class="hsocial_icons">
                                 <ul>
                                     <li><a href="https://www.facebook.com/SteelonCall" target="_blank">facebook</a></li>
                                     <li><a href="https://twitter.com/SteelonCall" target="_blank">twitter</a></li>                 
                                     <li><a href="https://www.linkedin.com/company/steelon-call/" target="_blank">linkdien</a></li>
                                 </ul>
                                 </div>-->  
                           </header>
                        </div>
                     </div>