
<!-- > d_breadcrumb -->
<ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
      {% if loop.first %}
     <li><a href="{{ breadcrumb.href }}"><i class="fa fa-home"></i></a></li>
      {% else %}
     <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
     {% endif %}
  {% endfor %}
</ul>
<!-- /> d_breadcrumb -->